/* header */
#header{  
  background:rgba(160, 160, 160, 0.6);
}
#header p{
}
#header .a{
  background:rgb(255, 255, 255);
}
#header .b{
  border:1px solid rgb(255, 255, 255);
}
#header .b1{
  background:rgb(255, 255, 255);
 }
#header .b2{
  background: rgb(255, 255, 255);
}
/* main */
#main{
  background:rgb(185, 185, 185);
  box-shadow: inset 0px 0px 10px rgb(85, 85, 85); 
  color:white;
}
#main .p{
}
#main .job{
  border-bottom:1px solid rgb(255, 255, 255);
}
#main .content span{
  background:rgb(211, 211, 211);
  color:rgb(122, 122, 122);
  box-shadow:  inset 1px 1px 0px rgb(78, 78, 78);
}
#main .skillt{
  text-shadow:0 0 5px rgb(0, 0, 0);
}
#main #skill{
  color:rgb(255, 255, 255);
  border:1px solid rgb(255, 255, 255);
}
